.container {
  background-image: url(../images/background\ \ image.png);
  width: 1366px;
  height: 768px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.wrapper {
  width: 1030px;
  height: 768px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.header {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.logo-img{
  position: relative;
}
.svg-image{
  position: absolute;
  top 0;
  left: 0;
  opacity: 0;
}
.logo {
  display: flex;
}
.logo-name {
  padding-left: 8px;
  padding-top: 3px;
}
.logo-name a {
  text-decoration: none;
  color: white;
}
.logo-name a:first-child {
  font-weight: 700;
  font-size: 29px;
}
.logo-name a:last-child {
  font-weight: 700;
  font-size: 18px;
}

.logo:hover p{
  color: #f26522;
 
}
.logo:hover .svg-image{
  opacity: 1;
}
.contact-mail,
.contact-phone {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.contact-mail {
  padding-bottom: 19px;
}
.contact-mail:hover {
  color: rgba(242, 101, 34, 1);
}
.contact-phone:hover {
  color: rgba(242, 101, 34, 1);
}

.main-content {
  height: 560px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 64px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.img-card {
  display: block;
  width: 300px;
  height: auto;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  position: relative;
  width: 300px;
  height: 220px;
  background: linear-gradient(to right, black, white);
}

.owerlay-info {
  position: absolute;
  height: 55px;
  background-color: #f26522;
  bottom: 1px;
  left: 1px;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
}

.card:hover .owerlay-info {
  position: absolute;
  height: 55px;
  background-color: #f26522;
  bottom: 0px;
  left: 2px;
  width: 99%;
  opacity: 1;
}

.price-text {
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
  padding-top: 7px;
  padding-left: 16px;
  padding-bottom: 8px;
}
.overlay-text {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
}
.overlay-price {
  font-weight: 400;
  font-size: 20px;
  max-width: inherit;
  color: #ffffff;
}
.overlay-price::before {
  content: "€";
}
.overlay-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.overlay-link::after {
  content: ">";
  padding-left: 16px;
  padding-right: 14px;
}
.card-text {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
.card:nth-child(odd) {
  padding-bottom: 37px;
}
.card:hover .card-text {
  color: #f26522;
  transition: 1s ease;
}
.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-top: 48px;
}
